examples/client_flow.json
[
    { "type": "tab", "id": "e237f4a1.bd2cd", "label": "Sheet 1" },
    {
        "id": "9ce129d0.866cd",
        "type": "coap request",
        "method": "GET",
        "observe": true,
        "url": "coap://localhost/topic1",
        "content-format": "text/plain",
        "name": "Subscribe to topic1",
        "x": 420,
        "y": 109,
        "z": "e237f4a1.bd2cd",
        "wires": [["2d42f264.3a0b86"]]
    },
    {
        "id": "5dc3e18a.3f61d8",
        "type": "inject",
        "name": "Fire once on start",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 135,
        "y": 111,
        "z": "e237f4a1.bd2cd",
        "wires": [["9ce129d0.866cd"]]
    },
    {
        "id": "2d42f264.3a0b86",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "false",
        "x": 689,
        "y": 121,
        "z": "e237f4a1.bd2cd",
        "wires": []
    }
]
