examples/server_flow.json
[
    {
        "type": "tab",
        "id": "35e56c01582908f3",
        "label": "Sheet 1"
    },
    {
        "id": "22b4781dd35417aa",
        "type": "function",
        "z": "35e56c01582908f3",
        "name": "Set payload",
        "func": "msg.payload = \"Hello there\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [["5309313d5cc4154d"]]
    },
    {
        "id": "602f9b93480bc935",
        "type": "coap in",
        "z": "35e56c01582908f3",
        "method": "GET",
        "name": "",
        "server": "ab3060f4c7e96482",
        "url": "/hello",
        "x": 260,
        "y": 180,
        "wires": [["22b4781dd35417aa"]]
    },
    {
        "id": "5309313d5cc4154d",
        "type": "coap response",
        "z": "35e56c01582908f3",
        "name": "",
        "statusCode": "",
        "contentFormat": "text/plain",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "ab3060f4c7e96482",
        "type": "coap-server",
        "name": "Hello CoAP Server",
        "port": "5683"
    }
]
